$set-colori: (
    'blu': darkblue,
    'orange': rgb(255, 115, 0),
    'lightblue': royalblue,
    'white': white,
    'grey': lightgrey
);

$font-style: italic;
$border: 1px solid white;
$border-radius: 15px;